# Pandas Tutorial

This is a `pandas` tutorial so I am able to properly analyze data in Python. I am doing this so I can analyze data and move onto machine learning projects.

In [1]:
import pandas as pd

In [2]:
# A Series is a two column table with a values column and an indecies column
series = pd.Series([0.4,0.3,0.2,0.1], # Values
                   ['A', 'B', 'C', 'D']) # Indecies
series

A    0.4
B    0.3
C    0.2
D    0.1
dtype: float64

In [3]:
series['A'] # Use the indecies to obtain the value or vice versa

0.4

In [4]:
# Pandas Data Frame

data = {'Name': ['John', 'Anna', 'Peter', 'Linda'],
        'Age': [28, 24, 35, 32]}

df = pd.DataFrame(data)
df.head()

    Name  Age
0   John   28
1   Anna   24
2  Peter   35
3  Linda   32

In [5]:
df.describe()

             Age
count   4.000000
mean   29.750000
std     4.787136
min    24.000000
25%    27.000000
50%    30.000000
75%    32.750000
max    35.000000